<?xml version="1.0"?>
<!--
/**
 * Copyright © Terravives. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Terravives_Fee::config_fees" title="Fees (by Terravives)" sortOrder="70"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Terravives_Fee::fees_wrapper" title="Terravives Fees" sortOrder="50">
                        <resource id="Terravives_Fee::fees" title="Fees" sortOrder="50"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>