<?xml version="1.0"?>
<!--
/**
 * Copyright © Terravives. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <terravives_fees>
            <main>
                <enable_fees>0</enable_fees>
                <show_fees_checkout>0</show_fees_checkout>
                <fee_input_label>Seleziona il tuo importo</fee_input_label>
                <button_text>Compesa</button_text>
                <project_input_label>Seleziona progetto</project_input_label>
                <fees_amount_placeholder>Inserisci il tuo importo</fees_amount_placeholder>
                <default_option>max</default_option>
            </main>
            <general>
                <api_url>https://terravives.bluehat.al</api_url>
            </general>
        </terravives_fees>
    </default>
</config>

