<?xml version="1.0"?>
<!--
/**
 * Copyright © Terravives. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Terravives\Fee\Block\Cart\Fee">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="feeFormAttributes" xsi:type="object">Terravives\Fee\Block\Cart\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Terravives\Fee\Block\PayPal\Express\Fee">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="feeFormAttributes" xsi:type="object">Terravives\Fee\Block\Cart\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="feeFormAttributes" xsi:type="object">Terravives\Fee\Block\Cart\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
