<?xml version="1.0"?>
<!--
/**
 * Copyright © Terravives. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_cart_collect_items_and_amounts">
        <observer name="terravives_fees_add_fee_to_paypal" instance="Terravives\Fee\Observer\AddFeesToPaypal" />
    </event>
</config>